.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar-container {
  position: relative;
  height: 190px;
  margin-right: 20px;
  width: 190px;
  border-radius: 8px;
}
.profile__avatar-btn {
  position: absolute;
  visibility: hidden;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  padding-bottom: 12px;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 0.5);
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}
.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__title {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  opacity: 0.7;
  display: flex;
  gap: 8px;
}
.profile__edit-btn:hover {
  opacity: 1;
}
.profile__new-post-btn {
  margin-left: auto;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  padding: 18px 0;
  align-self: flex-end;
  max-width: 149px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.profile__new-post-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
.profile__new-post-btn-img {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar-container {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
  .profile__avatar-btn {
    visibility: visible;
    height: 23px;
    margin-right: 20px;
    width: 23px;
    border-radius: 6px;
    top: 52px;
    left: 52px;
    align-items: center;
    padding: 0;
    gap: 0;
    background-color: rgba(33, 33, 33, 0.6);
  }
  .profile__avatar-btn::after {
    content: "";
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__title {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }
  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    width: 100%;
    justify-content: center;
  }
  .profile__new-post-btn {
    margin: 0;
    max-width: none;
  }
}
